:root {
  /*--color-primary: red;*/
  --grid-maxWidth: 90rem;
  --color-yellow: #dc9656;
  --font-size: 1.3rem;
}

[data-theme="dark"] {
  --color-primary: #41b57e;
  --bg-color: #181818;
  --bg-light-color: #282828;
  --bg-secondary-color: #131316;
  --font-color: #d8d8d8;
  --color-grey: #ccc;
  --color-darkGrey: #777;
  --bg-green: #4a552b;
  --bg-red: #51211f;
  --bg-yellow: #a7850c;
}

[data-theme="light"] .hide-light {
  display: none;
}

[data-theme="dark"] .hide-dark {
  display: none;
}


@media screen and (min-width:900px) {
  :root {
    --font-size: 1.6rem;
  }
}

.folder-item {
  display: flex;
  padding: 1rem;
  align-items: center;
  border-top: 1px solid;
  border-left: 1px solid;
  border-right: 1px solid;
}

.folder-item:last-child {
  border: 1px solid;
}
