---
layout: layouts/main.njk
---
<div class="container mt2">
  {% for child in data.children %}
    <a href="{{child.url}}" class="folder-item">
    {% if child.type === "folder" %}
      <i data-feather="folder"></i>
    {% elif child.type === "note" %}
      <i data-feather="file-text"></i>
    {% else %}
      <i data-feather="help-circle"></i>
    {% endif %}
    <span class="ml1">{{ child.name }}</span></a>
  {% endfor %}
</div>
