{% set urlMembers = url.split('/') %}
<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1" />
  <title>{{ "Ethan's Notes" if url === "/" else urlMembers[urlMembers.length - 2] }}</title>
  <link rel="stylesheet" href="https://unpkg.com/chota@latest">
  <link rel="stylesheet" href="/assets/style.css">
  <link href="https://unpkg.com/basscss@8.0.2/css/basscss.min.css" rel="stylesheet">
  <script src="https://unpkg.com/feather-icons"></script>
  <script>
    function setTheme(theme) {
      document.documentElement.setAttribute("data-theme", theme);
    }

    const preferredTheme = localStorage.getItem('preferred-theme');
    if (preferredTheme) {
      setTheme(preferredTheme);
    } else if (window.matchMedia && window.matchMedia('(prefers-color-scheme: dark)').matches) {
      setTheme('dark');
    } else setTheme('light');
  </script>
</head>
<body>
  <div class="nav">
    <div class="nav-left brand">
      Ethan's Notes
    </div>
    <div class="nav-right">
      <button class="hide-light button clear" onClick="setAndSaveTheme('light')">
        <i style="color: var(--color-yellow)" data-feather="moon"></i>
      </button>
      <button class="hide-dark button clear" onClick="setAndSaveTheme('dark')">
        <i style="color: var(--color-darkGrey)" data-feather="sun"></i>
      </button>
      <button class="button clear" id="screen-unlocked-button" onClick="toggleScreenLock()">
        <i data-feather="unlock"></i>
      </button>
      <button class="button clear display-none" id="screen-locked-button" onClick="toggleScreenLock()">
        <i data-feather="lock"></i>
      </button>
    </div>
  </div>

  <div class="breadcrumb container">
    {% if url !== "/" %}
    <a href="/">notes</a> / 
    {% for folder in urlMembers.slice(1, urlMembers.length - 2) %}
      <a href="{% for i in range(0, loop.revindex) %}../{%endfor%}">{{ folder }}</a> /
    {% endfor %}
    <span>{{ urlMembers[urlMembers.length - 2] }}
    {% endif %}
  </div>

  {{ content | safe }}

  
  <script>
    let wakeLock = null;

    // Detect wakeLock feature. Hide lock button if not available
    // Keep in mind, even on mobile this won't show up if not https
    if (!("wakeLock" in navigator)) {
      document.getElementById("screen-unlocked-button").classList.add("display-none");
    }

    function setAndSaveTheme(theme) {
      setTheme(theme);
      localStorage.setItem('preferred-theme', theme);
    }

    async function toggleScreenLock() {
      if (wakeLock) {
        await wakeLock.release();
        wakeLock = null;
        // switch to unlocked button
        document.getElementById("screen-unlocked-button").classList.toggle("display-none");
        document.getElementById("screen-locked-button").classList.toggle("display-none");
      } else {
        try {
          wakeLock = await navigator.wakeLock.request("screen");
          // switch to locked button
          document.getElementById("screen-unlocked-button").classList.toggle("display-none");
          document.getElementById("screen-locked-button").classList.toggle("display-none");
        } catch (e) {
          alert("Unable to set screen lock. Error: " + e);
          console.log("Unable to set screen lock. Error: " + e);
        }
      }
    }

    feather.replace();
  </script>
</body>
</html>
